@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i|Vollkorn');

.swipe {
  width: 60vh;
  height: auto;
/*   color: white;
  background: #000000; */
  font-size: 15vh;
  padding: 1vh;
  text-align: center;
  position: relative;
  overflow: hidden;
  transform: rotate(-90deg);
  margin-top: 30vh;
  font-family: Vollkorn;
  font-weight: bolder;
/*   margin-left: -10vw; */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .swipe {
    margin-top: 0;
    transform: rotate(0deg);
    font-size: 12vh;
  }
}
.swipe__about {
  background: #2ECC40;
}

.swipe__tools {
    background: #0074D9;
}
.swipe__blog {
    background: #FFDC00;
}


.content {
  color: rgba(0,0,0,0);
  display: block;
  

}

.bar {
  width: 100%;
  height: 100%;
  background: #232323;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 1s ease-in-out;
}

.revealed .content {
  animation-name: reveal;
  animation-duration: 1s;
  color: #232323;
}

.revealed .bar {
  transform: translate(100%, 0%) translate3d(0px, 0px, 0px);
}

@keyframes reveal {
    0%   {color: rgba(0,0,0,0);}
    50%   {color: rgba(0,0,0,0);}
    51%  {color: #232323;}
    100%  {color: #232323 ;}
}

#tools {
  grid-area: content;
  text-align: left;
  font-size: 3.3vh;
  font-family: Vollkorn;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  overflow: hidden;

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #tools {
    flex-direction: column
  }
}

.tools {
  display: flex;
  flex-direction: column;
  margin: 1vh;
  padding: 1vw;
}
ul {
  list-style: none;
}

.main {
  display: grid;
  grid-template-areas: "topic content";
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .main {
    height: auto;
    grid-template-areas: "topic"
                          "content";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr;
  }
}

.topic {
  grid-area: topic;
  /* height: 100%;
  width: 120%; */
/*   display: flex;
  justify-content: center;
  align-items: center; */
/*   background: #232323; */
}

.text {
  grid-area: content;
  text-align: left;
  font-size: 3.3vh;
  font-family: Vollkorn;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;

}

section {
  grid-area: content;
  font-size: 5vh;
  color: #e3e3e3;
  text-align: right;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 80%;
  z-index: -11;
  font-family: "Raleway";
  font-style: italic
}

section.tools {
  font-size: 5vh;
}


section p {
  margin-left: -10vw;
/*   margin-top: -18vh; */
}

.quote {
  font-size: 25vh;
}

body {
  font-size: "Vollkorn"
}

span.offset {
  font-size: 16vh;
  margin-right: -10vw;
  font-style: normal
}

span.offset__tools {
  font-size: 12vh;
}

main {
  width: 100vw;
  overflow: hidden
}